.admin .card {
	border: 1px solid #7b1fa2;
}

.admin .card:hover {
	background: #e2e2e2;
	cursor: pointer;
}

.m-label{
	
	font-size: 17px;
	font-style: italic;
	text-decoration: line-through;
}
.product-cart:hover{
	background: #e2e2e2;
	cursor: pointer;
}



.cartuserdetails{
	
	border: 1px solid #7b1fa2;
}
.hr{
	
	border: 1px solid #7b1fa2;
}

.card1 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
}

.drop{
	border: 1px solid orange;
}

